@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Electronic Collection</h1>

    <img src="~/IMG/Logo.png" alt="Gaming Sample Photo" />

    <p>Welcome to your first step towards creating your ultimate gaming collection and sharing it with world</p>
</div>
