@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Electronic Collection</h1>
    <p>Welcome to your first step towards creating your ultimate gaming collection & sharing it to the world</p>
    <img src="~/IMG/Logo.png" alt="Gaming Logo Photo" />
</div>