@model Electronic_Collection.Models.Item

@{
    ViewData["Title"] = "SearchByDate";
}

<h1>SearchByDate</h1>

<h4>DateInput</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchByTitle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemId" />
            <div class="form-group">
                <label asp-for="Released" class="control-label"></label>
                @*<input asp-for="DateToSearchBy" class="form-control" />*@
                <input asp-for="Released" class="form-control" />
                <span asp-validation-for="Released" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a type="button" asp-controller="GamesIndex"> Back to GamesIndex</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
