@model Electronic_Collection.Models.TitleInput

@{
    ViewData["Title"] = "Search By Title";
}

<h1>SearchByTitle</h1>

<h4>What's The Title Of The Game?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchByTitle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="TitleToSearchBy" class="control-label"></label>
                @*<input asp-for="TitleToSearchBy" class="form-control" />*@
                <input asp-for="TitleToSearchBy" class="form-control" />
                <span asp-validation-for="TitleToSearchBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
